@model IEnumerable<Food_Truck.Models.ScheduleLocation>

@{
    ViewBag.Title = "Schedule";
}

<div id="schedule" class="container bg-overlay">
    <div class="row text-center">
        <h1>Schedule</h1>
        <br>
        <h4>
            You can find us <strong>anywhere</strong>!<br>
            As long as it is one of the locations below.
        </h4>
        <br><br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" id="googleMap">
            <h3 align="center">Locations</h3>
            <iframe src="//www.google.com/maps/embed/v1/place?q=<!--Start Place Name-->Empire%20State%20Building<!--End Place Name-->&zoom=13&attribution_source=Google+Maps+Embed+API&attribution_web_url=https://developers.google.com/maps/documentation/embed/&key=AIzaSyDFr5dHDEoQSG10tHSM9zyr9riH7Twc01k" id="googleMap"></iframe>
        </div>

        <div class="col-sm-offset-4 col-sm-4">
            <h3 align="center">Hours</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Schedule.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Schedule.EndTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Schedule.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Schedule.EndTime)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

