@model Food_Truck.Models.Inventory

@{
    ViewBag.Title = "Index";
}

<p><h2>Access Denied, mofo!</h2></p>
<br />
<p><h4>You do not have the appropriate access to view this information.</h4></p>
<br />
<p><h6>Nice try though.</h6></p>