@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>The Patty Wagon</h1>
        <p class="lead">Food. That's all you need to know.</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find Locations</h2>
        <p>
            We're serving a location near you! Click to track us down.
        </p>
        <p><a class="btn btn-default" @*href="http://go.microsoft.com/fwlink/?LinkId=301865"*@>Find</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Out Our Menu</h2>
        <p>Burgers, brats, sandwiches, and more. We guarantee there's something for everybody! </p>
        <p><a class="btn btn-default" @*href="http://go.microsoft.com/fwlink/?LinkId=301866"*@>Menu</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order Online</h2>
        <p>Crunched for time? Place your order online and we'll have it ready when you get here.</p>
        <p><a class="btn btn-default" @*href="http://go.microsoft.com/fwlink/?LinkId=301867"*@>Order</a></p>
    </div>
</div>