@{
    ViewBag.Title = "Home Page";
}

<div class="topMenu">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
        <div class="overlay"></div>
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <img src="~/Content/Pictures/frontcover.jpg" id="carouselImage" width="100%" height="840px">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <img src="~/Content/Pictures/FoodTruck1.jpg" id="carouselImage" width="100%" height="840px">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <img src="~/Content/Pictures/FoodTruck2.jpg" id="carouselImage" width="100%" height="840px">
            </div>
        </div>
    </div>
    </div>
</div>
<div id="welcome">
    <div class="container">
        <div class="row margin-vert-40">
            <div class="col-md-12">
                <h2 class="text-center" id="welcome"><strong>Welcome to the Patty Wagon</strong></h2>
                <p class="text-center">
                    Since 1903, we have been serving the community the best food this side of the Mississippi. We started from the bottom now we here and the whole team's here.
                </p>
                <img class="fadeInUp animate" alt="" img src="~/Content/Pictures/food-truck.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 40px;">
            </div>
        </div>
    </div>
</div>
<br />
<br>
<div class="container" align="center" id="customerTestimonials">
    <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
            <h2><strong>Customer Testimonials</strong></h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-offset-3 col-md-6'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="4000">
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="~/Content/Pictures/JessicaAlba.png" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>When I thought I had enough...the Patty Wagon showed me 'The Beef'...</p>
                                    <small>Jessica Alba</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="~/Content/Pictures/Harambe.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>This was the best...last meal ever!</p>
                                    <small>Harambe</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="~/Content/Pictures/JohnCena.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>...all I want is more of that meat in my mouth!</p>
                                    <small>John Cena</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="~/Content/Pictures/KenBone.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>Their food met all of my energy needs while remaining environmentally friendly and minimizing weight loss!</p>
                                    <small>Ken Bone</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<br>
<div id="socialMedia" class="parallax-bg2" align="center">
    <div class="container">
        <h1 id="socialMediaHeader"><strong>Snap Tweet Poke!</strong></h1>
        <div class="row" id="socialMediaImages">
            <div class="col-sm-4">
                <a href="https://www.facebook.com">
                    <figure class="animate fadeInLeft">
                        <div class="grid-image">
                            <img alt="Facebook" src="~/Content/Pictures/FacebookFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.googleplus.com">
                    <figure class="animate fadeInUp">
                        <div class="grid-image">
                            <img alt="GooglePlus" src="~/Content/Pictures/GoogleFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.instagram.com">
                    <figure class="animate fadeInRight">
                        <div class="grid-image">
                            <img alt="Instagram" src="~/Content/Pictures/InstagramFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.linkedin.com">
                    <figure class="animate fadeInLeft">
                        <div class="grid-image">
                            <img alt="Linkedin" src="~/Content/Pictures/LinkedinFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.twitter.com">
                    <figure class="animate fadeInUp">
                        <div class="grid-image">
                            <img alt="Twitter" src="~/Content/Pictures/TwitterFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.youtube.com">
                    <figure class="animate fadeInRight">
                        <div class="grid-image">
                            <img alt="YouTube" src="~/Content/Pictures/YoutubeFoodTruck.png" height="256px" width="256px">
                        </div>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>
