@model IEnumerable<Food_Truck.Models.Order>

@{
    ViewBag.Title = "Index";
}

<div id="orders" class="container bg-overlay">
    <div class="row text-center">
        <h1>Order</h1>
        <br>
        <h4>
            You can either check out or start a new order.<br>
            Either way, we <strong>will</strong> get your money!
        </h4>
        <br><br>
    </div>
</div>
<div class="container" id="currentOrder">

</div>
<div class="container" id="payments">

</div>
