.glyphicon { margin-right:5px; }


*{
    font-family: 'open sans',arial,sans-serif;
}

.bg-overlay#menu
{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/Food/BurgerHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
}

.bg-overlay#schedule
{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/schedule.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
}

.bg-overlay#orders
{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/money.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
}

.col-sm-4#googleMap
{
    height: auto;
    width: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}


.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
    height: auto;
    width: auto;
}


.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}


.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}


.item.list-group-item img
{
    float: left;
}


.item.list-group-item:after
{
    clear: both;
    text-align: center;

}

.list-group-item-text
{
    margin: 0 0 12px;
    text-align: center;
}


.list-group-item-heading{
    text-align: center;
}

img.border{
    width:330px;
    height:228px; 
    padding-top: 20px;
}

/*margin-top*/

.btn, .btn-success
{
        font-size: 16px;
        background-color: #9e1414;
        border-color: #9e1414;

}


.btn:hover, .btn-success:hover
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}

.btn:focus, .btn-success:focus
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}


.btn:target, .btn-success:target
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}



.form-control{
    width: 100%;
    /*padding-right: 10px;*/
    /*align-items: right;*/
}


.lead{
    text-align: center;
    font-size: 22px;
}



.glyphicon-chevron-down:before {
 color: #9e1414;
}



.glyphicon-chevron-up:before {
 color: #9e1414;
}



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}



#menuItemTitle{
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 34px;
    color: #9e1414;
}



#menuItemDescription
{
    padding-bottom: 14px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 120%;
}

#order{
    font-size: 16px;
}


.add-on{
    padding-top: 1%;
    padding-bottom: 3%;
    padding-right: 1%;
    padding-left: 1%;
}


.list-group{
    padding-right: 3%;
    padding-left: 3%;
}

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 8em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 15px black;
}

.hero h3 {
    font-size: 3em;    
    font-weight: bold;
    text-shadow: 0 0 15px black;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 6;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url('Pictures/frontcover.jpg');
}
.fade-carousel .slides .slide-2 {
    background-image: url('Pictures/FoodTruck1.jpg');
}
.fade-carousel .slides .slide-3 {
    background-image: url('Pictures/FoodTruck2.jpg');
}
.fade-carousel .slides .slide-4 {
    background-image: url('Pictures/FoodTruck3.jpg');
}

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}







<<<<<<< HEAD
#menuItemTitle{
=======

















.glyphicon { margin-right:5px; }


*{
    font-family: 'open sans',arial,sans-serif;
}



.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}


.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}


.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}


.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}


.item.list-group-item img
{
    float: left;
}


.item.list-group-item:after
{
    clear: both;
    text-align: center;

}

.list-group-item-text
{
    margin: 0 0 12px;
    text-align: center;
}


.list-group-item-heading{
    text-align: center;
}


.btn, .btn-success
{
        font-size: 16px;
        background-color: #9e1414;
        border-color: #9e1414;

}


.btn:hover, .btn-success:hover
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}


.btn:focus, .btn-success:focus
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}


.btn:target, .btn-success:target
{
        font-size: 16px;
        color: #9e1414;
        background-color: white;
        border-color: #9e1414;

}



.lead{
    text-align: center;
    font-size: 22px;
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}


.menuItemTitle{
>>>>>>> 74ee0e8ff9016be914f70f437c43081b712e1b6d
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 34px;
    color: #9e1414;
}


#menuItemDescription
{
    padding-bottom: 8px;
    padding-right: 7%;
    padding-left: 7%;
    font-size: 120%;
}

#order{
    font-size: 16px;
    }


.add-on{
    padding-top: 1%;
    padding-bottom: 3%;
       padding-right: 1%;
    padding-left: 1%;
}


.list-group{
    padding-right: 3%;
    padding-left: 3%;
<<<<<<< HEAD
=======
}




div.cartWidget {
   position: fixed;
   bottom: 0;
   right: 0;
   width: 230px;
   border: 4px solid white;
   z-index: 10;
   border-radius: 7px;
   background: #a6b1c1 ;
   padding: 13px;
>>>>>>> 74ee0e8ff9016be914f70f437c43081b712e1b6d
}